.header {
    background-color: #000000;
    color:white;
    text-align: center;
    height:70px;
    padding:20px;
    margin-bottom: 20px;
}

.popup{
  position: fixed;
  color:white;
  background-color: black;
  z-index: 1000;
  width:50%;
  padding:15%;
  left:25%;
  top:100px;
}

#close{
  border: none;
  background-color: black;
  text-decoration: underline;
  display: none;
}

#submit-email{
  color:black;
}

#footer{
  background-color: black;
  color: white;
}

#submit_email_container{
  margin:10px;
}

#enter-email{
  color:black;
}
